@import url('./reset.scss');

body {
  // font-size: 16px;
  font-size: .32rem;
}

.app {
  .nav-header {
    display: flex;
    line-height: .8rem;
    text-align: center;
    border-bottom: .02rem solid #ccc;
    a {
      flex: 1;
      text-decoration: none;
      &.active {
        color: #f00;
      }
    }
  }
  .content-body {
  }
}

@import url('./todo.scss');
