.todo-app {
  width: 80vw;
  margin: .4rem auto;
  .todo-add {
    display: flex;
    align-items: center;
    textarea {
      flex: 4;
      min-height: 1rem;
      padding: .1rem;
      margin-right: .4rem;
    }
    button {
      flex: 1;
      height: .6rem;
    }
  }
  .todo-filter {
    display: flex;
    li {
      line-height: .6rem;
      margin: .2rem;
      padding: .2rem;
      font-size: .28rem;
      background: #eee;
      // &:first-of-type {
      //   margin-left: 0;
      // }
      &:first-child {
        margin-left: 0;
      }
      &.active {
        color: #f00;
      }
    }
  }
  .todo-list {
    li {
      line-height: .8rem;
      &.completed {
        text-decoration: line-through;
      }
    }
  }
}